/* COMMON */
[class*="text-"] {
    text-transform: uppercase;
}

.text-white {
    color: white;
}

.text-gray {
    color: #333333;
}

/* HEADER */

/* Nav */
.nav-top {
    background-color: #2c3e50;
}

.nav-top .menu {
    list-style-type: none;
    margin-top: 4%;
    text-align: right;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu li a {
    text-decoration: none;
    color: white;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 600;
}

.burger-menu {
    text-align: right;
    padding-top: 20px;
    padding-right: 60px;
    font-size: 25px;
}
/* End Nav */

/* Jambotron */
.section-green {
    background-color: #1abc9c;
}

.text-crentred {
    text-align: center;
}

.inner_col {
    padding: 30px 0;
}

.section-green h1 {
    font-size: 40px;
    
}

.star {
    font-size: 30px;
}
/* END HEADER */

/* MAIN */
/* END MAIN */

/* FOOTER */
/* END FOOTER */