/* COMMON */
[class*="text-"] {
    text-transform: uppercase;
}

.section-green {
    background-color: #1abc9c;
}

.section-pad {
    margin-bottom: 30px;
}

.small-container {
    width: 70%;
    max-width: 900px;
    margin: auto;
}

.text-white {
    color: white;
}

.text-gray {
    color: #333333;
}

.star {
    font-size: 30px;
}

.star::before {
    content: "";
    background-color: #2c3e50;
    height: 1px;
    width: 50%;
}

.star::after {
    content: "";
    background-color: #2c3e50;
    height: 1px;
    width: 50%;
}
/* HEADER */

/* Nav */
.nav-top {
    background-color: #2c3e50;
}

.nav-top .menu {
    list-style-type: none;
    margin-top: 4%;
    text-align: right;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu li a {
    text-decoration: none;
    color: white;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 600;
}

.burger-menu {
    text-align: right;
    padding-top: 20px;
    padding-right: 60px;
    font-size: 25px;
}
/* End Nav */

/* Jambotron */

.text-crentred {
    text-align: center;
}

.inner_col {
    padding: 30px 0;
}

.section-green h1 {
    font-size: 40px;
    
}

.avatar {
    height: 300px;
}
/* END HEADER */

/* MAIN */

/* About */

.bottone {
    text-align: center;
    padding: 30px 0;
}

.btn_button {
    background-color: #1abc9c;
    color: white;
    border: 1px solid white;
}

.btn_button:hover {
    background-color: white;
    color: #3a546d;
}

.about p{
    color: white;
    font-size: 20px;
}
/* End About */

/* Form */
.form-group input,
.form-group textarea {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 40px 0;
}

.form-group input::placeholder,
.form-group textarea {
    color: #536270;
}
/* End Form */
/* END MAIN */

/* FOOTER */

/* Info */
.info {
    background-color: #3a546d;
}

.info h4 {
    text-transform: uppercase;
}

.info .inner_col {
    margin: auto;
    text-align: center;
    color: white;
}

.icons a{
    color: white;
    text-decoration: none;
    margin: 0 10px;

    /* border: 1px solid white;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 15px 0; */
}

.color-green {
    color: #1abc9c;
}
/* End Info */

/* Copyright */
.copyright {
    color: white;
    background-color: #2c3e50;
    text-align: center;
}
/* End Copyright */
/* END FOOTER */